.template-box {
  position: absolute;
  top: 80px;
  background: $backgroundDark;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;

  z-index: 1;
  left: -300px;
  transition: 0.3s left;
  width: 300px;
  height: calc(100vh - 80px);
  overflow-y: auto;

  &[data-expanded="true"] {
    left: 0;
  }

  .template-close {
    float: right;
    padding: 6px;
    background: red;
    margin: 16px;
  }

  .template-option {
    display: block;
    width: 100%;
    padding: 12px;

    &__save {
      background: rgba(200, 255, 255, 1);
    }
  }
}
